@model RecodeMvc.Models.Promocao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Promocao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino_Promo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino_Promo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_promo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_promo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qntd_Dias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qntd_Dias)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Promo">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
